[submodule "commons"]
	path = commons
	url = https://github.com/KarbonPowered/commons
[submodule "KarbonPowered-API"]
	path = KarbonPowered-API
	url = https://github.com/KarbonPowered/karbonpowered-api
[submodule "network"]
	path = network
	url = https://github.com/KarbonPowered/network
[submodule "text"]
	path = text
	url = https://github.com/KarbonPowered/text
[submodule "translation"]
	path = translation
	url = https://github.com/KarbonPowered/translation
[submodule "protocol"]
	path = protocol
	url = https://github.com/KarbonPowered/protocol
[submodule "nbt"]
	path = nbt
	url = https://github.com/KarbonPowered/nbt
[submodule "math"]
	path = math
	url = https://github.com/KarbonPowered/math
[submodule "adapter"]
	path = adapter
	url = https://github.com/KarbonPowered/adapter
