[submodule "KarbonPowered-Commons"]
	path = KarbonPowered-Commons
	url = https://github.com/KarbonPowered/commons
[submodule "KarbonPowered-API"]
	path = KarbonPowered-API
	url = https://github.com/KarbonPowered/karbonpowered-api
[submodule "KarbonPowered-Network"]
	path = KarbonPowered-Network
	url = https://github.com/KarbonPowered/network
[submodule "KarbonPowered-Text"]
	path = KarbonPowered-Text
	url = https://github.com/KarbonPowered/text
[submodule "KarbonPowered-Translation"]
	path = KarbonPowered-Translation
	url = https://github.com/KarbonPowered/translation
[submodule "KarbonPowered-Protocol"]
	path = KarbonPowered-Protocol
	url = https://github.com/KarbonPowered/protocol
[submodule "KarbonPowered-NBT"]
	path = KarbonPowered-NBT
	url = https://github.com/KarbonPowered/nbt
[submodule "KarbonPowered-Math"]
	path = KarbonPowered-Math
	url = https://github.com/KarbonPowered/math
[submodule "KarbonPowered-Adapter"]
	path = KarbonPowered-Adapter
	url = https://github.com/KarbonPowered/adapter
